/* Weather Chart */
#chart {
  display:flex;
  justify-content: space-around;
  padding: 25px 0;
}
.weather-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Location Search Bar */
#location-search-bar {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

#weather-info {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: 1px solid;
}